* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: realtive;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  header {
    width: 100%
  }
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .container {
        padding: 10px;
    }
    #bannerImg {
      width: 400px;
      height: 70px;
    }
  }